.menu-card{
  .center {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .v-card__title {
    display: block;
    text-align: center;
    font-size: 1.7rem;
    margin: {
      left: auto;
      right: auto;
    }
  }

  .count{
    font-size: 1.5rem;
  }

  .count_label{
    opacity: 0.7;
  }

  &__img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;

    &__box {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;
    }
  }

  &__objective {
    display: flex;
  }

  .step_name{
    font-size: 1.6rem;
  }

  &__form_training_set{
    .add_set_button{
      padding-bottom: 10px;
    }

    .set_number_label{
      font-size: 1.2rem;
    }

    &__input {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-left: 5px;
      padding-right:5px;

      //.reps_box{
      //  padding-right: 20px;
      //}
      //
      //.sets_box{
      //  padding-left: 20px;
      //}
      &__spacer{
        margin: {
          right: 10px;
          left: 10px;
        }
      }
    }

    &__submit{
      display: flex;
    }
  }

  &__info_box{
    display: flex;
    opacity: 0.7;


    %info_box__card{
      margin-bottom: 5px;
      margin-top:5px;
      font-size: 0.8rem;
      border: solid 1px cornflowerblue;
      border-radius: 6px;
    }

    .level_box{
      padding:{
        top: 10px;
        left: 10px;
        right: 5px;
        bottom: 0px;
      }
      flex:1;

      &__title{
        font-size: 1.1rem;
      }

      &__card{
        @extend %info_box__card;

        &__step_name{
          padding-left: 5px;

        }

        ul{
          padding: 0;
          margin: 0;
          padding-left:10px;
          list-style: none;
          li{
            font-size: 0.65rem;
          }
        }
      }

    }
    .history_box{
      padding:{
        top: 10px;
        left: 5px;
        right: 10px;
        bottom: 0px;
      }
      flex:1;

      &__title{
        font-size: 1.1rem;
      }

      &__card{
        @extend %info_box__card;

        &__step_name{
          padding-left: 5px;
        }
        &__count{
          padding-left: 10px;
        }
        &__time{
          padding-left: 10px;
          font-size: 0.6rem;
          opacity: 0.5;
        }
      }
    }
  }
}


