.set-menu{
  .cart{
    position: fixed;
    display:flex;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    background-color: rgba(0,0,0,0.3);
    height: 200px;
    width: 100%;

    .training_start_btn{
      position: absolute;
      bottom: 0px;
      right: 0px;
      margin:10px;
    }

    .mini_menu_card {
      height:160px;
      margin: 10px;
      align-items: center;
      justify-content: center;

      .remove_btn{
        margin:5px;
        text-align:center;
      }
    }
  }
}